<nav class="nav">
    <ul class="main-nav clearfix">
        <li class="active"><a href="#">Общая информация</a></li>
        <li><a href="#">Статистика</a></li>
    </ul>
</nav>
<div class="row">
    <div class="col-sm-6">
        <table class="wallet-table table table-striped table-bordered">
            <tr class="form-header">
                <th>Доходы</th>
                <th>Расходы</th>
                <th>Описание</th>
                <th>Дата</th>
            </tr>
            <tr ng-repeat="operation in user">
                <td class="income" ng-bind="operation.Name == 'Доход' ? operation.PaymentValue : ' '"></td>
                <td class="consumption" ng-bind="operation.Name == 'Расход' ? operation.PaymentValue : ' '"></td>
                <td ng-bind="operation.Note"></td>
                <td ng-bind="operation.PaymentDate | date:'dd-MM-yyyy'"></td>
            </tr>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination text-center">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-7">
            <div class="add-area">
                <!--<h2 class="text-center">Добавить данные</h2>-->
                <form name="newOperationForm">
                    <legend class="text-center form-header">Добавить данные</legend>
                    <div class="control-group">
                        <label class="clearfix label-box">
                            Выберете действие
                            <select class="action-name data-area select" name="operation" ng-model="operation" ng-change="addProperty('operation', operation)">
                                <option name="income">Доход</option>
                                <option name="consumption">Расход</option>
                            </select>
                        </label>
                    </div>
                    <div class="control-group">
                        <label class="clearfix label-box">
                            Укажите категорию
                            <select class="action-name data-area select" ng-if="operation == 'Доход'"  ng-model="category" ng-options="cat.Name for cat in incomeCat" ng-change="addProperty('category',category)">
                                <option></option>
                            </select>
                            <select class="action-name data-area select" ng-if="operation == 'Расход'"  ng-model="category" ng-options="cat.Name for cat in consumptionCat" ng-change="addProperty('category',category)">
                                <option></option>
                            </select>
                        </label>
                    </div>
                    <div class="control-group">
                        <label class="clearfix label-box">
                            Укажите сумму<span class="error" ng-if="newOperationForm.amount.$error.required">*</span>
                            <input type="text" class="data-area form-control" name="amount" ng-model="newOperation.amount"  ng-pattern="/^\d+$/" required placeholder="укажите сумму">
                        </label>
                    </div>
                    <div class="control-group clearfix">
                        <div class="visible-lg-inline-block pull-right">
                            <!--<label class="radio-inline text-right">-->
                                <!--<input type="radio" name="cur" ng-model="cur" value="RUB" checked> RUB-->
                            <!--</label>-->
                            <!--<label class="radio-inline text-right">-->
                                <!--<input type="radio" name="cur" ng-model="cur" value="USD"> USD-->
                            <!--</label>-->
                            <!--<label class="radio-inline text-right">-->
                                <!--<input type="radio" name="cur" ng-model="cur" value="EUR"> EUR-->
                            <!--</label>-->
                            <label class="radio-inline text-right" ng-repeat="curr in currency">
                                <input type="radio" ng-model="currency.name" ng-value="curr" ng-checked="curr.Id == 1" ng-change="addProperty('currency', currency.name)">{{curr.CurrencyCode}}
                            </label>
                        </div>
                        {{currency.name | json}}
                    </div>
                    <div class="control-group">
                        <label class="clearfix label-box">
                            Укажите дату
                            <input type="date" class="data-area" ng-model="newOperation.date">
                        </label>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="action-descr">
                            Описание
                        </label>
                        <div class="controls">
                            <textarea id="action-descr" class="action-descr" ng-model="newOperation.descr"></textarea>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default add-data center-block" ng-click="sendData()" ng-disabled="newOperationForm.$invalid">Добавить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-5">

    </div>
</div>