<div class="row">
    <div class="col-sm-12">
        <!-- сюда пойдет общая статистика  -->
        <div class="general-statistics clearfix">
            <h3 class="text-center">Общая информация</h3>
            <div class="general-info">
                <p>Общий доход<span class="income">1000$</span></p>
                <p>Обищй расход<span class="consumption">600</span></p>
                <p>Сколько осталось<span>400</span></p>
            </div>
            <div class="currency-info">
                <p>Остаток в UDS<span>234</span></p>
                <p>Остаток в EUR<span>234234</span></p>
                <p>Остаток в RUB<span>23423</span></p>
            </div>
        </div>
    </div>
</div>